.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    color: #FFFFFF;
    font-family: 'Kurale', sans-serif;
    margin: 0;
    font-size: 104px;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.35);
}

.date {
    margin-top: -20px;
    font-family: 'Kurale', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    line-height: 30px;
    color: #FFFFFF;
    padding: 4px;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 1);
}
