.topButtons {
    position: absolute;
    bottom: 0;
    margin-bottom: 34vh;
    margin-left: 4vw;
    width: fit-content;
    background-color: transparent;
    z-index: 1;
    display: flex;
    color: white;
    font-family: "Kurale", sans-serif;
}

.textTopDate {
    font-size: 20px;
    width: 50%;
    text-align: center;
    background: rgba(44, 33, 4, 0.8);
    border: 1px solid #2C2104;
    border-radius: 10px 10px 0px 0px;
    padding-inline: 24px;
}

.textTopTime {
    font-size: 20px;
    width: 50%;
    text-align: center;
    background: rgba(44, 33, 4, 0.6);
    border: 1px solid #2C2104;
    border-radius: 10px 10px 0px 0px;
    padding-inline: 24px;
}

.textTopTime:hover {
    cursor: pointer;
}

.panel {
    font-family: "Kurale", sans-serif;
    margin-left: 2vw;
    margin-bottom: 1vw;
    position: absolute;
    height: 35vh;
    background: rgba(44, 33, 4, 0.6);
    border: 1.5px solid #2C2104;
    border-radius: 15px;
    width: 96vw;
    bottom: 0;
    display: flex;
    align-items: center;
    overflow-y: hidden;
}

.panel::-webkit-scrollbar {
    height: 8px;
    width: 10px;
}

.panel::-webkit-scrollbar-track {
    background-color: transparent;
    margin-left: 58px;
}

.panel::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}


.leftContainer {
    margin-left: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.todayContainer {
    flex-shrink: 0;
    margin-left: 18px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}

.textToday {
    margin-bottom: -20px;
    font-size: 42px;
}

.textDegree {
    margin: 0;
    font-size: 78px;
}

.imgMain {
    width: 150px;
}

.rightContainer {
    display: flex;
    color: #FFFFFF;
    margin-left: 100px;
}

.containerDays {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 74px;
}

.textDays {
    font-size: 28px;
    margin-bottom: 10px
}

.imgSmallDays {
    width: 90px;
}

.textDaysDegree {
    font-size: 34px;
    margin-top: 20px;
}
