.inputBackground {
    margin: 31px 0 0 33px;
    border: 0;
    background: var(--bg-color);
    border-radius: 5px;
    width: fit-content;
    padding-inline: 10px;
    padding-bottom: 1px;
    max-width: 230px;
}

.inputContent {
    display: flex;
    align-items: center;
}

.imgSearch {
    margin-top: 4px;
    width: 40px;
    height: 30px;
}

.flag {
    color: transparent;
    margin: 8px 0 0 2px;

    font-size: 18px;
}

.imgSearch:active {
    filter: invert(0.3);
}

.input {
    max-width: 155px;
    margin-bottom: -4px;
    font-family: 'Kurale', serif;
    font-size: 24px;
    padding-inline: 8px;
    color: #FFFFFF;
    outline: none;
    background-color: transparent;
    border: 0;
}

.line {
    margin-top: 0;
    border: 0;
    height: 1px;
    background-color: #ffffff;
    color: #ffffff;
}

.lineError {
    margin-top: 0;
    border: 0;
    height: 1px;
    background-color: #f12222;
    color: #be1515;
}
