.container {
    font-family: "Kurale", sans-serif;
    position: absolute;
    top: 20vh;
    right: 4vw;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 1);
    color: white;
}

.buttonCalendar {
    position: absolute;
    top: 12px;
    right: 18px;
    width: 42px;
}

.eventList {
    display: flex;
    align-items: center;
}

.textTime {
    background: var(--bg-color);
    border-radius: 5px;
    padding: 0 8px;
    margin-top: 8px;
    font-size: 17px;
}

.textEvent {
    font-size: 17px;
    margin-top: 8px;
    margin-left: 14px;
    max-width: 200px;
}

@media (max-width: 990px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        margin-top: 60px;
    }
}

@media (max-width: 600px) {
    .buttonCalendar {
        position: relative;
        top: 140px;
        left: 310px;
    }
}
